.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@import './detail.scss';
@import './user.scss';
@import './pop-message.scss';
@import './wrapper.scss';
